.heroMain {
    height: 100vh;
    width: 100%;
    opacity: 0.8;

    background-image: radial-gradient(circle at center center, #562790, #e5e5f7), repeating-radial-gradient(circle at center center, #562790, #562790, 10px, transparent 20px, transparent 100px);

    background-blend-mode: multiply;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.blurredOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;

    background: linear-gradient(to bottom right, #000 0%, rgba(0, 0, 0, 0.88) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #000 0%, rgba(0, 0, 0, 0.88) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #000 0%, rgba(0, 0, 0, 0.88) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #000 0%, rgba(0, 0, 0, 0.88) 50%) top right / 50% 50% no-repeat;
}


.heroMain .heroContainer {
    z-index: 2;
}

.heroMain .heroContainer h1 {
    text-align: center;
    font-size: 3.4rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 1.2rem;
    font-weight: 600;
}

.heroMain .heroContainer h1 .highlight {

    background-image: linear-gradient(0deg, #53396d57 4%, #8659b3 4%, #f1ca6d00 67%);
}

.heroMain .heroContainer p {
    width: 572px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    line-height: 145%;
    color: #ebebeba6;
    font-weight: normal;
    margin-bottom: 1.8rem;
}


.heroMain .heroContainer .ctaButton {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    line-height: 145%;
    font-weight: normal;

    border: 1px solid #282828;
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 4rem;
    padding: 1.4rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    transition: all 400ms ease-in-out;
}

.heroMain .heroContainer .ctaButton:hover {
    color: #fff;
    background-color: #221d27;
    border: 1px solid #9696960d;
}

.heroMain .heroContainer .ctaButton img {
    transition: transform 400ms ease-in-out;
}

.heroMain .heroContainer .ctaButton:hover img {
    transform: rotate(35deg);
}

.cursorMimic {
    position: absolute;
    width: 132px;
    height: 132px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;
}

.greenCursor {
    top: 50%;
    left: 10%;
    background-image: url("/icons/cursors/b2b.svg");
}

.violetCursor {
    top: 16%;
    right: 20%;
    background-image: url("/icons/cursors/tech.svg");
}

.yellowCursor {
    bottom: 15%;
    right: 10%;
    background-image: url("/icons/cursors/product.svg");
}