.heroMain {
    height: 100vh;
    width: 100%;

    background-image: radial-gradient(circle at center center, #562790, #e5e5f7), repeating-radial-gradient(circle at center center, #562790, #562790, 10px, transparent 35px, transparent 100px);

    background-blend-mode: multiply;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.blurredOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;

    background: linear-gradient(to bottom right, #000 0%, rgba(0, 0, 0, 0.88) 50.005%) bottom right / 50.005% 50.005% no-repeat, linear-gradient(to bottom left, #000 0%, rgba(0, 0, 0, 0.88) 50.005%) bottom left / 50.005% 50.005% no-repeat, linear-gradient(to top left, #000 0%, rgba(0, 0, 0, 0.88) 50.005%) top left / 50.005% 50.005% no-repeat, linear-gradient(to top right, #000 0%, rgba(0, 0, 0, 0.88) 50.005%) top right / 50.005% 50.005% no-repeat;
}

.heroMain .heroContainer {
    z-index: 2;
}

.heroMain .heroContainer h1 {
    text-align: center;
    font-size: 3.4rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 1.2rem;
    font-weight: 600;
}

.heroMain .heroContainer h1 .highlight {

    background-image: linear-gradient(0deg, #53396d57 4%, #8659b3 4%, #f1ca6d00 67%);
}

.heroMain .heroContainer p {
    width: 572px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    line-height: 145%;
    color: #ebebeba6;
    font-weight: normal;
    margin-bottom: 2.8rem;
}


.heroMain .heroContainer .ctaButton {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    line-height: 145%;
    font-weight: normal;

    border: 1px solid #282828;
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 4rem;
    padding: 1.4rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.heroMain .heroContainer .ctaButton:hover {
    color: #fff;
    background-color: #221d27;
    border: 1px solid #9696960d;
}

.heroMain .heroContainer .ctaButton img {
    cursor: pointer;
    transition: transform 400ms ease-in-out;
}

.heroMain .heroContainer .ctaButton:hover img {
    transform: rotate(35deg);
}

.cursorMimic {
    position: absolute;
    width: 132px;
    height: 132px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 2s ease-in-out;
}

.greenCursor {
    top: 50%;
    left: 10%;
    background-image: url("/icons/cursors/b2b.svg");
}

.violetCursor {
    top: 16%;
    right: 20%;
    background-image: url("/icons/cursors/tech.svg");
}

.yellowCursor {
    bottom: 15%;
    right: 10%;
    background-image: url("/icons/cursors/product.svg");
}

.ctaBreakTag {
    display: none;
}


/* MEDIA QUERIES */
@media screen and (min-width: 240px) and (max-width: 359px) {
    .heroMain {
        height: 700px;
    }

    .heroMain .heroContainer {
        margin-top: 6.4rem;
    }

    .heroMain .heroContainer h1 {
        font-size: 2rem;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }

    .heroMain .heroContainer p {
        font-size: 1rem;
        width: 80%;
    }

    .heroMain .heroContainer .ctaButton {
        font-size: 1rem;
    }

    .breakCancel {
        display: none;
    }

    .ctaBreakTag {
        display: block;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .heroMain {
        height: 700px;
    }

    .heroMain .heroContainer {
        margin-top: 6.4rem;
    }

    .heroMain .heroContainer h1 {
        font-size: 2rem;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }

    .heroMain .heroContainer p {
        font-size: 1rem;
        width: 80%;
    }

    .heroMain .heroContainer .ctaButton {
        font-size: 1rem;
    }

    .breakCancel {
        display: none;
    }

    .ctaBreakTag {
        display: block;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .heroMain .heroContainer {
        margin-top: 6.4rem;
    }

    .heroMain .heroContainer h1 {
        font-size: 2.4rem;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }

    .heroMain .heroContainer p {
        width: 80%;
    }

    .breakCancel {
        display: none;
    }
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .heroMain .heroContainer {
        margin-top: 3.6rem;
    }

    .heroMain .heroContainer h1 {
        font-size: 3rem;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .heroMain .heroContainer {
        margin-top: 4.8rem;
    }

}

@media screen and (min-width:1024px) and (max-width:1272px) {
    .heroMain .heroContainer h1 {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }
}