.brandsMain {
    padding: 96px 0;
    /* z-index: 2; */
}

.brandsMain h2 {
    text-align: center;
    color: #bababa;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    line-height: 145%;
    font-weight: 400;
}

.sliderWrapper {
    overflow: hidden;
    background-color: #0a0a0a;
    padding: 2rem 0;
}

.sliderWrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to left, #0a0a0a, transparent);
    z-index: 2;
}

.sliderWrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to right, #0a0a0a, transparent);
    z-index: 2;
}

.sliderTrack {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    padding-top: 1.2rem;
}

.logoItem {
    flex: 0 0 auto;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoItem img {
    height: 56px;
    object-fit: contain;
    filter: brightness(1000%);
    max-width: 100%;
    margin: 0 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .logoItem {
        padding: 0 1.5rem;
    }

    .logoItem img {
        height: 28px;
    }

    .sliderTrack {
        animation-duration: 3s;
    }
}