.navMain {
    background-color: #141414;
    border-radius: 1.15rem;
    border: 1px solid #c7c7c70f;

    position: fixed;
    top: 18px;
    left: 0;
    right: 0;
    z-index: 9999;

    width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 248px;
    padding: 1.4rem 2.2rem 1.4rem 1.8rem;
}

.navMain ul {
    color: #ebebeb;
    font-size: 1rem;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.4px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
}

.navMain ul li {
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.navMain ul li:hover {
    color: #ebebeba6;
}