.container {
  margin-top: -4rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.wrapperCTA {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .ctaButton {
  position: absolute;
  bottom: 6.4rem;
  left: 50%;
  transform: translateX(-50%);


  color: #fff;
  background-color: var(--primary);
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 145%;
  font-size: 1rem;
  font-weight: normal;
  padding: 1.2rem 1.8rem;
  border-radius: 6rem;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: all 400ms ease-in-out;
  border: 1px solid transparent;
}

.container .ctaButton:hover {
  background-color: #773bc1;
  border: 1px solid #585858;
}