.container {
  margin-top: -4rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.wrapperCTA {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  
}