.cardContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.cardContainer .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  position: relative;
  height: 500px;
  width: 1000px;
  border-radius: 1.15rem;
  transform-origin: top;
  background-color: #121212;
  border: 1px solid #c7c7c73b;

  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  animation: floatUpDown 4s ease-in-out infinite;
  pointer-events: none;
}

.card::before {
  background-image: var(--floating-before-img);
  top: var(--position-before-top);
  right: var(--position-before-right);
}

.card::after {
  background-image: var(--floating-after-img);
  top: var(--position-after-top);
  right: var(--position-after-right);
  animation-delay: 2s;
}

@keyframes floatUpDown {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.card .body {
  color: #fff;
  padding-left: 4.8rem;
}

.card .body .cardHeading {
  text-align: left;
  font-size: 1.75rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 125%;
  color: #e0e0e0;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

.card .body .cardDescription {
  color: #bababa;
  margin: 0 auto;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0.4px;
  word-spacing: 1px;
  line-height: 150%;
  font-weight: 400;
}

.card .body .cardDescription p {
  margin-bottom: 0.75rem;
}

.cardImg {
  height: 100%;
  border-radius: 1.15rem;
}

/* cta button */
.ctaButton {
  position: absolute;
  left: 50%;
  bottom: -8.4rem;
  transform: translateX(-50%);

  word-spacing: 1px;
  line-height: 145%;
  font-weight: normal;
  margin: 0 auto;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.8px;

  border: 1px solid #0a0a0a;
  margin: 0 auto;
  width: fit-content;
  border-radius: 4rem;
  padding: 1.4rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: all 400ms ease-in-out;
  background-color: #1a161e;
  cursor: pointer;
}

.ctaButton:hover {
  color: #fff;
  background-color: #221d27;
  border: 1px solid #9696960d;
}

.ctaButton img {
  cursor: pointer;
  transition: transform 400ms ease-in-out;
}

.ctaButton:hover img {
  transform: rotate(35deg);
}


/* MEDIA QUERIES */
/*  */
@media screen and (min-width: 0) and (max-width: 359px) {

  .cardContainer .card {
    flex-direction: column;
    width: 90%;
    height: 500px;
    gap: 1rem;
    padding: 1.8rem 1.5rem;
  }

  .card::after,
  .card::before {
    display: none;
  }

  .card .body .cardHeading {
    font-size: 1.2rem;
  }

  .card .body {
    padding-left: 0;
  }

  .cardImg {
    display: none;
  }

  .ctaButton {
    font-size: 1rem;
    gap: 0.25rem;
    width: 218px;
  }

  .ctaButton img {
    height: 42px;
  }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {

  .cardContainer {
    height: 115vh;
  }

  .cardContainer .card {
    flex-direction: column;
    width: 90%;
    height: 456px;
    gap: 1rem;
    padding: 1.8rem 1.5rem;
  }

  .card::after,
  .card::before {
    display: none;
  }

  .card .body .cardHeading {
    font-size: 1.4rem;
  }

  .card .body {
    padding-left: 0;
  }

  .cardImg {
    display: none;
  }

  .ctaButton {
    font-size: 1rem;
    gap: 0.25rem;
    width: 236px;
  }

  .ctaButton img {
    height: 42px;
  }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 739px) {

  .cardContainer {
    height: 110vh;
  }

  .cardContainer .card {
    flex-direction: column;
    width: 90%;
    height: fit-content;
    gap: 1rem;
    padding: 1.8rem 1.5rem;
  }

  .card .body .cardHeading {
    font-size: 1.4rem;
  }

  .card .body {
    padding-left: 0;
  }

  .cardImg {
    width: 75%;
    height: 75%;
  }

  .ctaButton {
    font-size: 1rem;
  }

  .ctaButton img {
    height: 42px;
  }

}

/* SMALL SCREEN */
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .cardContainer {
    width: 85%;
  }

  .cardContainer .card {
    gap: 1.4rem;
  }

  .card .body .cardHeading {
    font-size: 1.4rem;
  }

  .cardImg {
    height: 80%;
  }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .cardContainer {
    width: 85%;
  }

  .cardContainer .card {
    gap: 1.4rem;
  }

}