.main {
    color: #fff;
    margin: 0;
    padding: 0;
}

.magicpattern {
    width: 98%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%231a161e%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23312939%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h105.263v105.263H0z%22%2F%3E%3Cpath fill=%22%233129399b%22 d=%22M210.526 0h105.263v105.263H210.526z%22%2F%3E%3Cpath fill=%22%2331293944%22 d=%22M526.316 0h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22%233129390b%22 d=%22M631.579 0h105.263v105.263H631.579z%22%2F%3E%3Cpath fill=%22none%22 d=%22M736.842 0h105.263v105.263H736.842z%22%2F%3E%3Cpath fill=%22%23312939c6%22 d=%22M842.105 0h105.263v105.263H842.105z%22%2F%3E%3Cpath fill=%22%2331293911%22 d=%22M947.368 0h105.263v105.263H947.368z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1052.632 0h105.263v105.263h-105.263zM1368.421 0h105.263v105.263h-105.263zM1789.474 0h105.263v105.263h-105.263zM210.526 105.263h105.263v105.263H210.526zM315.789 105.263h105.263v105.263H315.789z%22%2F%3E%3Cpath fill=%22%23312939e9%22 d=%22M526.316 105.263h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22none%22 d=%22M736.842 105.263h105.263v105.263H736.842zM842.105 105.263h105.263v105.263H842.105zM1052.632 105.263h105.263v105.263h-105.263zM1473.684 105.263h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%233129393b%22 d=%22M1684.211 105.263h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1789.474 105.263h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939e6%22 d=%22M0 210.526h105.263v105.263H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M210.526 210.526h105.263v105.263H210.526zM315.789 210.526h105.263v105.263H315.789z%22%2F%3E%3Cpath fill=%22%2331293971%22 d=%22M736.842 210.526h105.263v105.263H736.842z%22%2F%3E%3Cpath fill=%22none%22 d=%22M842.105 210.526h105.263v105.263H842.105z%22%2F%3E%3Cpath fill=%22%23312939b3%22 d=%22M947.368 210.526h105.263v105.263H947.368z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1368.421 210.526h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%2331293920%22 d=%22M1473.684 210.526h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1684.211 210.526h105.263v105.263h-105.263zM1789.474 210.526h105.263v105.263h-105.263zM1894.737 210.526H2000v105.263h-105.263zM105.263 315.789h105.263v105.263H105.263zM210.526 315.789h105.263v105.263H210.526z%22%2F%3E%3Cpath fill=%22%23312939f3%22 d=%22M631.579 315.789h105.263v105.263H631.579z%22%2F%3E%3Cpath fill=%22none%22 d=%22M736.842 315.789h105.263v105.263H736.842zM842.105 315.789h105.263v105.263H842.105z%22%2F%3E%3Cpath fill=%22%233129390f%22 d=%22M1052.632 315.789h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1157.895 315.789h105.263v105.263h-105.263zM1473.684 315.789h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939ac%22 d=%22M1578.947 315.789h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1894.737 315.789H2000v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939ec%22 d=%22M0 421.053h105.263v105.263H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M210.526 421.053h105.263v105.263H210.526zM526.316 421.053h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22%2331293950%22 d=%22M631.579 421.053h105.263v105.263H631.579z%22%2F%3E%3Cpath fill=%22%233129392c%22 d=%22M736.842 421.053h105.263v105.263H736.842z%22%2F%3E%3Cpath fill=%22none%22 d=%22M842.105 421.053h105.263v105.263H842.105z%22%2F%3E%3Cpath fill=%22%23312939c9%22 d=%22M947.368 421.053h105.263v105.263H947.368z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1052.632 421.053h105.263v105.263h-105.263zM1157.895 421.053h105.263v105.263h-105.263zM1368.421 421.053h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939c3%22 d=%22M1473.684 421.053h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1578.947 421.053h105.263v105.263h-105.263zM1684.211 421.053h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%233129397c%22 d=%22M1789.474 421.053h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1894.737 421.053H2000v105.263h-105.263zM0 526.316h105.263v105.263H0z%22%2F%3E%3Cpath fill=%22%2331293954%22 d=%22M315.789 526.316h105.263v105.263H315.789z%22%2F%3E%3Cpath fill=%22none%22 d=%22M526.316 526.316h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22%23312939a2%22 d=%22M631.579 526.316h105.263v105.263H631.579z%22%2F%3E%3Cpath fill=%22%2331293902%22 d=%22M736.842 526.316h105.263v105.263H736.842z%22%2F%3E%3Cpath fill=%22none%22 d=%22M842.105 526.316h105.263v105.263H842.105zM1052.632 526.316h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939f5%22 d=%22M1157.895 526.316h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1263.158 526.316h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%233129396b%22 d=%22M1473.684 526.316h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939d4%22 d=%22M1578.947 526.316h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1789.474 526.316h105.263v105.263h-105.263zM105.263 631.579h105.263v105.263H105.263zM210.526 631.579h105.263v105.263H210.526z%22%2F%3E%3Cpath fill=%22%233129399e%22 d=%22M315.789 631.579h105.263v105.263H315.789z%22%2F%3E%3Cpath fill=%22none%22 d=%22M421.053 631.579h105.263v105.263H421.053zM526.316 631.579h105.263v105.263H526.316zM947.368 631.579h105.263v105.263H947.368z%22%2F%3E%3Cpath fill=%22%23312939d9%22 d=%22M1157.895 631.579h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1368.421 631.579h105.263v105.263h-105.263zM1789.474 631.579h105.263v105.263h-105.263zM1894.737 631.579H2000v105.263h-105.263zM0 736.842h105.263v105.263H0zM105.263 736.842h105.263v105.263H105.263zM526.316 736.842h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22none%22 d=%22M631.579 736.842h105.263v105.263H631.579zM947.368 736.842h105.263v105.263H947.368z%22%2F%3E%3Cpath fill=%22%23312939fd%22 d=%22M1052.632 736.842h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%233129399e%22 d=%22M1157.895 736.842h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939ca%22 d=%22M1263.158 736.842h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1368.421 736.842h105.263v105.263h-105.263zM1578.947 736.842h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939af%22 d=%22M1684.211 736.842h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%2331293947%22 d=%22M1789.474 736.842h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 842.105h105.263v105.263H0zM210.526 842.105h105.263v105.263H210.526z%22%2F%3E%3Cpath fill=%22%23312939dd%22 d=%22M421.053 842.105h105.263v105.263H421.053z%22%2F%3E%3Cpath fill=%22none%22 d=%22M526.316 842.105h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22%2331293970%22 d=%22M631.579 842.105h105.263v105.263H631.579z%22%2F%3E%3Cpath fill=%22%23312939d5%22 d=%22M842.105 842.105h105.263v105.263H842.105z%22%2F%3E%3Cpath fill=%22%233129390b%22 d=%22M947.368 842.105h105.263v105.263H947.368z%22%2F%3E%3Cpath fill=%22%23312939c5%22 d=%22M1473.684 842.105h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1578.947 842.105h105.263v105.263h-105.263zM1789.474 842.105h105.263v105.263h-105.263zM1894.737 842.105H2000v105.263h-105.263zM105.263 947.368h105.263v105.263H105.263z%22%2F%3E%3Cpath fill=%22%2331293970%22 d=%22M210.526 947.368h105.263v105.263H210.526z%22%2F%3E%3Cpath fill=%22%23312939ec%22 d=%22M315.789 947.368h105.263v105.263H315.789z%22%2F%3E%3Cpath fill=%22%233129392f%22 d=%22M526.316 947.368h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22none%22 d=%22M631.579 947.368h105.263v105.263H631.579zM842.105 947.368h105.263v105.263H842.105z%22%2F%3E%3Cpath fill=%22%233129395d%22 d=%22M1157.895 947.368h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1263.158 947.368h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%2331293987%22 d=%22M1473.684 947.368h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M105.263 1052.632h105.263v105.263H105.263zM210.526 1052.632h105.263v105.263H210.526zM315.789 1052.632h105.263v105.263H315.789zM421.053 1052.632h105.263v105.263H421.053zM526.316 1052.632h105.263v105.263H526.316zM842.105 1052.632h105.263v105.263H842.105zM947.368 1052.632h105.263v105.263H947.368zM1052.632 1052.632h105.263v105.263h-105.263zM1157.895 1052.632h105.263v105.263h-105.263zM1368.421 1052.632h105.263v105.263h-105.263zM1578.947 1052.632h105.263v105.263h-105.263zM1789.474 1052.632h105.263v105.263h-105.263zM105.263 1157.895h105.263v105.263H105.263zM210.526 1157.895h105.263v105.263H210.526zM315.789 1157.895h105.263v105.263H315.789zM421.053 1157.895h105.263v105.263H421.053zM631.579 1157.895h105.263v105.263H631.579zM947.368 1157.895h105.263v105.263H947.368zM1052.632 1157.895h105.263v105.263h-105.263zM1157.895 1157.895h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%2331293903%22 d=%22M1263.158 1157.895h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939f3%22 d=%22M1368.421 1157.895h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%233129398a%22 d=%22M1578.947 1157.895h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1789.474 1157.895h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%2331293913%22 d=%22M1894.737 1157.895H2000v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1263.158h105.263v105.263H0zM105.263 1263.158h105.263v105.263H105.263z%22%2F%3E%3Cpath fill=%22%23312939b6%22 d=%22M210.526 1263.158h105.263v105.263H210.526z%22%2F%3E%3Cpath fill=%22none%22 d=%22M315.789 1263.158h105.263v105.263H315.789zM421.053 1263.158h105.263v105.263H421.053zM526.316 1263.158h105.263v105.263H526.316zM947.368 1263.158h105.263v105.263H947.368z%22%2F%3E%3Cpath fill=%22%23312939bd%22 d=%22M1157.895 1263.158h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1263.158 1263.158h105.263v105.263h-105.263zM1368.421 1263.158h105.263v105.263h-105.263zM1473.684 1263.158h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939b7%22 d=%22M1578.947 1263.158h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%2331293901%22 d=%22M1684.211 1263.158h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1789.474 1263.158h105.263v105.263h-105.263zM1894.737 1263.158H2000v105.263h-105.263zM0 1368.421h105.263v105.263H0z%22%2F%3E%3Cpath fill=%22%2331293925%22 d=%22M105.263 1368.421h105.263v105.263H105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M315.789 1368.421h105.263v105.263H315.789zM421.053 1368.421h105.263v105.263H421.053zM526.316 1368.421h105.263v105.263H526.316z%22%2F%3E%3Cpath fill=%22none%22 d=%22M631.579 1368.421h105.263v105.263H631.579zM736.842 1368.421h105.263v105.263H736.842zM842.105 1368.421h105.263v105.263H842.105zM1052.632 1368.421h105.263v105.263h-105.263zM1368.421 1368.421h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%23312939f7%22 d=%22M1684.211 1368.421h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1789.474 1368.421h105.263v105.263h-105.263z%22%2F%3E%3Cpath fill=%22%2331293995%22 d=%22M1894.737 1368.421H2000v105.263h-105.263z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2240%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22 stop-opacity=%22.6%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.container {
    padding: 136px 0 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom, #0a0a0a, #100f12, #141317, #18161c, #1c1921, #1c1921, #1c1921, #1c1921, #18161c, #141317, #100f12, #0a0a0a);
}

.container .header {}

.container .testimonialHeading {
    font-size: 2.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 155%;
    color: #e0e0e0;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}

.container .testimonialDesc {
    color: #bababa;
    font-size: 1rem;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    line-height: 150%;
    font-weight: 400;
    width: 556px;
    text-align: center;
}

.container .carouselWrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carouselWrapper .scrollingTrack {
    display: flex;
    width: max-content;
    gap: 1.25rem;
    margin-top: 3.2rem;
    animation: scrollLeft 50s linear infinite;
}

.carouselWrapper .card {
    height: fit-content;
}

.scrollingTrack {
    animation: scroll 30s linear infinite;
    animation-play-state: running;
}

.pauseAnimation .scrollingTrack {
    animation-play-state: paused;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.ctaButton {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    word-spacing: 1px;
    line-height: 145%;
    font-weight: normal;

    border: 1px solid #282828;
    display: block;
    margin: 0 auto;
    width: fit-content;
    border-radius: 4rem;
    padding: 1.4rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    transition: all 400ms ease-in-out;
    background-color: #070509;
    background-color: var(--primary);
    margin-top: 4.8rem;
}

.ctaButton:hover {
    background-color: #773bc1;
    border: 1px solid #585858;
}

.ctaButton img {
    transition: transform 400ms ease-in-out;
}

.ctaButton:hover img {
    transform: rotate(35deg);
}


/* MEDIA QUERIES */

@media screen and (min-width: 0) and (max-width: 359px) {
    .container .testimonialHeading {
        font-size: 1.2rem;
    }

    .container .testimonialDesc {
        width: 90%;
        margin: 0 auto;
    }

    .container {
        padding: 0;
        padding-top: 96px;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .container .testimonialHeading {
        font-size: 1.4rem;
    }

    .container .testimonialDesc {
        width: 90%;
        margin: 0 auto;
    }

    .container {
        padding: 0;
        padding-top: 124px;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .container .testimonialHeading {
        font-size: 1.6rem;
    }


    .container .testimonialDesc {
        width: 456px;
    }

    .container {
        padding: 0;
        padding-top: 136px;
    }

}


/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .container {
        padding: 0;
        padding-top: 136px;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .container {
        padding: 56px 0;
    }
}